# Empty Strings are ignored or equivalent to false
NOSTEAM=False
CACHEDIR=
MODFOLDERS=workshop,steam,mods
DEBUG=False
ADMINPASSWORD=ChangeMePlease
SERVERNAME="Monga Project Zomboid"
SERVERPRESET=
IP=
PORT=16261
STEAMVAC=True
STEAMPORT1=8766 
STEAMPORT2=8767 
MEMORY=2048m
SOFTRESET=False
MOD_IDS=
WORKSHOP_IDS=
